<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Start</title>
</head>

</head>
<body>
<div class="topnav">
    <div th:replace="fragments/navbar_fr :: topnav"></div>
</div>

<div>
    <h1 class="text-center text-info">List of all subjects</h1>
    <h6 class="text-center text-danger"
        th:text="${failMessage == 0}?'':${failMessage}"></h6>
    <h6 class="text-center text-success"
        th:text="${success == 0}?'':${success}"></h6>
</div>
<div class="row mt-3 justify-content-center">
    <a type="button" class="btn mr-2 btn-primary position-relative"
       data-toggle="collapse" href="#collapseAdd" role="button"
       aria-expanded="false" aria-controls="collapseAdd">Add subject</a>
</div>

<div class="collapse" id="collapseAdd">
    <div class="card mt-3 card-body">
        <div class="row justify-content-center">
            <form class="form-inline" action="/subjects/add"
                  method="post">
                <div class="row">
                    <input type="text" class="form-control mr-2" autofocus="autofocus"
                           placeholder="Subject name" name="name">
                    <button type="submit" class="btn mr-2 btn-outline-success">Add
                        subject
                    </button>

                </div>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid mt-3 justify-content-center">
    <div class="justify-content-center">
        <div class="w-50 text-center justify-content-center" id="accordion"
             th:each="subject, iterStat : ${subjects}">
            <div class="card text-center">
                <div class="card-header text-center"
                     th:id="|subject${iterStat.count}|">
                    <h5>
                        <button class="btn btn-info w-50" data-toggle="collapse"
                                aria-expanded="false"
                                th:attr="data-target='#collapse'+${iterStat.count},aria-controls='collapse'+${iterStat.count}"
                                th:text="${subject.name}">Subject
                        </button>
                    </h5>
                </div>
            </div>

            <div th:id="|collapse${iterStat.count}|" class="collapse"
                 aria-labelledby="|subject${iterStat.count}|"
                 data-parent="#accordion">
                <div class="card-body">
                    <div class="row mt-3 justify-content-center">
                        <a type="button" class="btn mr-2 btn-success position-relative"
                           data-toggle="collapse"
                           th:href="|#collapseEditSubject${subject.id}|" role="button"
                           aria-expanded="false"
                           th:attr="aria-controls='collapseEditSubject' + ${subject.id}">Edit
                            subject</a>
                        <button type="button"
                                class="btn mr-2 btn-secondary position-relative"
                                th:attr="data-url=|/subjects/delete/?id=__${subject.id}__|"
                                th:onclick="deleteSubject(this.getAttribute('data-url'));"
                                data-toggle="modal" data-target="#deleteSubject">
                            Delete subject
                        </button>
                    </div>


                    <div class="collapse" th:id="|collapseEditSubject${subject.id}|">
                        <div class="card mt-3 card-body">
                            <div class="row justify-content-center">
                                <form class="form-inline" action="/subjects/edit"
                                      method="post">
                                    <div class="row">
                                        <input type="number" class="form-control" hidden="true"
                                               th:value="${subject.id}" name="id"> <input
                                            type="text" class="mr-2 form-control" required="required"
                                            th:value="${subject.name}" name="name">
                                        <button type="submit" class="btn btn-outline-success">Edit
                                            subject
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-3 justify-content-center">
                        <div class="col-auto">
                            <table class="table">
                                <caption>Teacher's subjects</caption>
                                <thead class="thead-light">
                                <tr>
                                    <th scope="col"></th>
                                    <th scope="col">Teachers</th>
                                    <th scope="col">Unassign</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="teacher, iterStat : ${subject.teachers}">
                                    <td th:text="|${iterStat.count}.|"></td>
                                    <td th:text="|${teacher.firstName} ${teacher.lastName}|">Teacher's
                                        name
                                    </td>
                                    <td class="text-center">
                                        <button type="button"
                                                class="btn btn-warning mb-1 position-relative btn-sm"
                                                th:attr="data-url=|/subjects/unassign/?subjectId=__${subject.id}__&teacherId=__${teacher.id}__|"
                                                th:onclick="unassign(this.getAttribute('data-url'));"
                                                data-toggle="modal" data-target="#unassign">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <a type="button"
                               class="btn mr-2 btn-outline-success position-relative"
                               data-toggle="collapse"
                               th:href="|#collapseAssignTeacher${subject.id}|" role="button"
                               aria-expanded="false"
                               th:attr="aria-controls='collapseAssignTeacher' + ${subject.id}">Assign
                                to teacher</a>
                        </div>
                    </div>
                    <div class="collapse" th:id="|collapseAssignTeacher${subject.id}|">
                        <div class="card mt-3 card-body">
                            <div class="row justify-content-center">
                                <form class="form-inline "
                                      action="/subjects/assign" method="post">
                                    <input type="number" class="form-control" hidden="true"
                                           th:value="${subject.id}" name="subjectId"> <select
                                        id="groupTo" class="form-control mr-2" required="required"
                                        name="teacherId">
                                    <option th:selected="true" th:value=0>Choose teacher</option>
                                    <option th:each="teacher : ${teachers}"
                                            th:value="${teacher.id}"
                                            th:text="|${teacher.firstName} ${teacher.lastName}|"></option>
                                </select>
                                    <button type="submit" class="btn btn-outline-success">Assign</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteSubject" tabindex="-1" role="dialog"
     aria-labelledby="deleteSubject" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body edit-content">
                <h5 class="text-center">Are you sure you want to delete this
                    subject?</h5>
            </div>
            <div class="modal-footer">
                <a id="item" type="button" href="" class="btn btn-danger pull-left">Yes,
                    I am sure</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unassign" tabindex="-1" role="dialog"
     aria-labelledby="unassign" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body edit-content">
                <h5 class="text-center">Are you sure you want unassign teacher from
                    subject?</h5>
            </div>
            <div class="modal-footer">
                <a id="subject" type="button" href=""
                   class="btn btn-danger pull-left">Yes, I am sure</a>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script>
    function deleteSubject(url) {
        $("#item").attr("href", url);
    }

    function unassign(url) {
        $("#subject").attr("href", url);
    }
</script>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>
</body>
</html>

